.ExpensePage {
    background-color: #68edf6c4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'chillax';
    font-weight: 450;
}

.page {
    height: 100vh;
    width: 100vw;
}

.FullPage {
    height: 100vh;
    width: 100vw;
    border: 5px whitesmoke solid;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.LeftDiv {
    width: 48%;
}

.RightDiv1 {

    width: 40%;

}

.LeftDiv,
.RightDiv1 {
    height: 75%;
    border: 3px rgb(0, 0, 0) solid;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}